name: lint

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  lint:
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependency
        run: pip install flake8 mypy
      - name: Run flake8
        run: flake8 metabci/ --per-file-ignores="__init__.py:F401" --extend-ignore=E203,W605 --max-line-length=127 --statistics --count
      - name: Run mypy
        run: mypy metabci/ --ignore-missing-imports
